@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, #root, .app{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    
}

.nnavbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.753);
    box-shadow: 0 0 5px lightgray;
    
}
.nnavbar h1{
    font-size: 28px;
    color: rgb(156, 156, 156);
}
.nnavbar a:hover{
    text-decoration: none;
}
.nnavbar h1 span{
    color: rgb(83, 83, 83);
}
.nnavbar img{
    height: 23px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav div{
    display: flex;
    align-items: center;
    position: relative;
    width: 210px;
}
.nav div input{
    width: 200px;
    height: 30px;
    border-radius: 15px;
    padding: 13px 0;
    padding-left: 28px;
    border: 1px solid lightgray;
    outline: none;
}
.nav div img{
    height: 20px;
    position: absolute;
    left: 6px;
}

header button{
    border: none;
    font-size: 17px;
    padding: 2.5px 5px;
    border-radius: 5px;
    color: white;
    background-color: gray;
}
.action{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.action img{
height: 20px;
}

.btn-primary{
    margin-left: 50%;
}
th{
    text-align: center;
}

.container{
    margin-top: 30px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.addUser-form{
    width: 50%;
    border: 1px solid lightgray;
    display: flex;
    box-shadow: 0 0 5px lightgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: gray;
    height: fit-content;
}
.addUser-form form{
    margin-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    border: 1px solid lightgray;
    display: flex;
    box-shadow: 0 0 5px lightgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.add-name, .add-address{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
}
.add-name label, .add-address label{
    margin-bottom: 10px;
    font-size: 17px;
    color: maroon;
}

.addUser-form input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    box-shadow: 0 0 3px lightgray;
    padding: 20px;
}

.add-user-button{
    border: none;
    font-size: 17px;
    background-color: aqua;
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.911);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.close{
    position: absolute;
    top: 10px;
    right: 25%;
    margin: 5px;
    background-color: aqua;
    cursor: pointer;
    padding: 10px;
    border-radius: 60%;
}